<div class="books">
    <% @books.each do |b| %>
        <div class="book">
            <div class="book-title">
                <%= b.name %>
            </div>

            <div class="book-actions">
                <%= button_to "x" , book_path(b), method: :delete %>
            </div>
        </div>
    <% end %>
</div>